html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $dark;
    background-color: $light;
    height: 100%;
}

#root {
    height: 100%;
}

h1, h2, h3 {
    color: $dark-x;
}

.bg-dark-x {
    background-color: $dark-x;
}

.author {
    width: 50px;
    height: 50px;
    border-radius: 5rem;
}

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py-7 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    min-height: 700px;
    margin-top: 70px;
    @media (max-width: $lg) {
        max-height: 500px;
        min-height: unset;
    }
    @media (max-width: $sm) {
        background-image: none;
        max-height: unset;
    }
}

.avatar {
    max-width: 60px;
    border-radius: 5rem;
}

.tab-container {
    border-radius: 1rem;
    .nav-tabs {
        border-bottom: 0;
        .nav-link {
            color: lighten($color: $dark, $amount: 20);
            border-radius: .25rem;
            border: 0;
            &:hover {
                color: $dark;
                cursor: pointer;
            }
            &.active {
                font-weight: 700;
                color: $dark;
            }
        }
    }
    .tab-content {
        img {
            max-width: 250px;
        }
    }
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.icon-card {
    min-width: 40px;
    height: 40px;
    border-radius: 5rem;
}   