$primary: #0af;
$light: #ffffff;
$grey: #F7F8F9;
$grey-x: #D8DBE0;
$grey-xx: #EFEFEF;
$dark: #0E1012;
$dark-x: #15181b;
$dark-xx: #272d3d;
$muted: #405169;

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;